
  body {
    background-color: white;
    background-image: url("images/bg.jpg");
    color: #404040;
    font-size: 11pt;
    font-family: Georgia, Garamond, sans-serif;
  }

  h1 {
    color: #A4A400;
    background-color: #F0F0F0;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Helvetica, Arial, sans-serif;
    font-size: 18pt;
    font-style: normal;
    text-align: left;
    text-decoration: underline;
    letter-spacing: 7px;
  }

  div > h1 {
    text-align: center;
    font-size: 22pt;
    font-size: 22pt;
  }

  a {
    color: #A4A400;
  }
  
  a:link {
    text-decoration: underline;
  }
  
  a:visited {
    text-decoration: underline;
  }  
  pre {
    display: block;
    font-family: monospace;
    white-space: pre;
  }
  .comment{
    font-style: italic;
    background-color: rgb(255, 242, 169);
    margin: 2em 2em 2em 4em ;
    display: block;
  }
  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px solid black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  ul.icon {  
    list-style-image: url(images/pie_icon.gif);
  }
  #copyright {
    text-align:right;
  }
  
