<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>myServlet</servlet-name>
        <servlet-class>HelloServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>myServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>myService</servlet-name>
        <servlet-class>SupportServlet</servlet-class>
        <init-param>
            <param-name>autReply</param-name>
            <param-value>null</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>myService</servlet-name>
        <url-pattern>/support</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>support_email</param-name>
        <param-value>support-email@mum.edu</param-value>
    </context-param>


</web-app>